{% extends 'base.html' %}
{% block title %}
    The Jobs
{% endblock %}
{% block content %}
    <table border="1" style="padding: 5px; display: inline-block; margin-top: 5em;">
        <tr>
            <th>Job</th>
            <th>Description</th>
            <th>Category</th>
        </tr>
        {% for job in job %}
            <tr>
                <td>{{ job.name }}</td>
                <td>{{ job.description }}</td>
                <td>{{ job.type_of_job }}</td>
            </tr>
        {% endfor %}
    </table>
    <br>
<div style="padding-bottom: 5em;">
<a href="{% url 'add_job' %}">Add profession</a>
<a href="{% url 'delete_job' %}">Delete profession</a>
<a href="{% url 'update_job' %}">Update profession</a>
<a href="{% url 'categories' %}">Manage categories</a>
</div>
{% endblock %}