{% extends 'base.html' %}
{% block title %}
    Update job information
{% endblock %}
{% block content %}

<form method="post">
    {% csrf_token %}
    <label for="name">Job:</label><br>
    <input type="text" name="name" style="line-height: 50px; font-size: 30px"><br>
    <label for="desc">Description:</label><br>
    <input type="text" name="desc" style="line-height: 50px; font-size: 30px"><br>
    <label>Category:</label><br>
    {% for type in types %}
    <input type="radio" name="type" style="line-height: 50px; font-size: 30px" value="{{ type.type }}">{{ type.type }}<br>
    {% endfor %}
    <button type="submit" style="font-size: 30px;">Commit</button> <a href="{% url 'main' %}">Home</a>
</form>

{% endblock %}