<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
</head>
<body>
<form method="post" style="text-align: center; margin-top: 5em;">
    {% csrf_token %}
    <label>Login</label>
    <input type="text" height="30px" width="10em" name="login">
    <input type="submit" value="Submit" size="xx-large">
</form>
</body>
</html>