<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../static/bootstrap/css/bootstrap.min.css">
	<title>{{ title }}</title>
</head>
<body style="background-color: black; color: white;">

	<div style="margin-left: 35%;">

	<div class="card bg-dark" style="width: 32rem; padding: 1em; margin-top: 1em; margin-bottom: 1em;">
	  <div class="card-body">
	  	<a href="#" class="fw-bold">User</a>
	    <p class="card-text mt-3">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <img src="https://picsum.photos/300/300" class="rounded-3">
      <div class="row" style="margin-top: 1em;">
      	<label for="exampleFormControlTextarea1" class="form-label">Comment</label>
  	<textarea class="form-control bg-dark text-white" id="exampleFormControlTextarea1" rows="3"></textarea>
  	<button type="button" class="btn btn-outline-primary mt-3">Commit</button><br>
      </div>
	</div>
	
</body>
</html>