{% extends 'base.html' %}
{% block title %}
    Editing the post
{% endblock %}
{% block content %}
    <a href="{% url 'my_profile' %}" type="button" class="btn btn-primary m-3">Return back</a>

	<div class="container bg-dark p-3" style="width: 500px; margin-top: 3em;">

  	<label for="exampleFormControlTextarea1" class="form-label">Post text</label>
  	<textarea class="form-control bg-dark text-white" id="exampleFormControlTextarea1" rows="10"></textarea>
  	<button type="button" class="btn btn-outline-primary mt-3">Commit</button><br>
  	<label for="exampleFormControlInput1" class="form-label mt-3">Change post photo</label>
	<input class="form-control" type="file" id="formFile">
	<button type="button" class="btn btn-outline-primary mt-3">Commit</button>

	</div>
{% endblock %}
