{% extends 'base.html' %}
{% block title %}
    Editing your profile
{% endblock %}
{% block content %}

	<a href="{% url 'my_profile' %}" type="button" class="btn btn-primary m-3">Return back</a>

<div class="container bg-dark p-3" style="width: 500px; margin-top: 3em;">
	<div class="row">
	<div class="col">
	<label for="exampleFormControlInput1" class="form-label">New login</label>
	<input type="text" class="form-control" id="exampleFormControlInput1">
	<button type="button" class="btn btn-outline-primary mt-3">Change login</button><br>
	</div>
	<div class="col">
	<label for="exampleFormControlInput1" class="form-label">Old password</label>
	<input type="password" class="form-control" id="exampleFormControlInput1">
	<label for="exampleFormControlInput1" class="form-label">New password</label>
	<input type="password" class="form-control" id="exampleFormControlInput1">
	<button type="button" class="btn btn-outline-primary mt-3">Change password</button><br>
	</div>
	<div>
	<label for="formFile" class="form-label">Change profile photo</label>
	<input class="form-control" type="file" id="formFile">
	<button type="button" class=" btn btn-outline-primary mt-3">Commit</button>
	</div>
</div>
</div>
{% endblock %}