<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../static/bootstrap/css/bootstrap.min.css">
	<title>{{ title }}</title>
</head>
<body style="background-color: black; color: white;">

<div class="bg-dark p-3 text-center">
	<a href="#" type="link" class="btn btn-outline-primary">Home</a>
	<a href="#" type="link" class="btn btn-outline-primary">Profile</a>
</div>

<div class="container bg-dark p-3" style="width: 500px; margin-top: 3em;">
	<div class="row">
	<div class="col">
	<label for="exampleFormControlInput1" class="form-label">New login</label>
	<input type="text" class="form-control" id="exampleFormControlInput1">
	<button type="button" class="btn btn-outline-primary mt-3">Change login</button><br>
	</div>
	<div class="col">
	<label for="exampleFormControlInput1" class="form-label">Old password</label>
	<input type="password" class="form-control" id="exampleFormControlInput1">
	<label for="exampleFormControlInput1" class="form-label">New password</label>
	<input type="password" class="form-control" id="exampleFormControlInput1">
	<button type="button" class="btn btn-outline-primary mt-3">Change password</button><br>
	</div>
	<div>
	<label for="formFile" class="form-label">Change profile photo</label>
	<input class="form-control" type="file" id="formFile">
	<button type="button" class=" btn btn-outline-primary mt-3">Commit</button>
	</div>
</div>
</div>
</body>
</html>