<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../static/bootstrap/css/bootstrap.min.css">
	<title>{{ title }}</title>
</head>
<body style="background-color: black; color: white;">
	<a type="button" href="#" class="btn btn-outline-primary m-3">Return back</a>
	<h1 style="text-align: center;">Following</h1>
	<div class="container bg-dark p-3 rounded mt-5" style="width: 300px;">
		<div class="row">
			<div class="col-md-3">
				<img src="https://picsum.photos/50/50" class="rounded-circle">
			</div>
			<div class="col-md-9">
				<a class="fw-bold" href="#">
					user
				</a>
			</div>
			<button type="button" class="btn btn-outline-danger mt-3">Unfollow</button>
		</div>
	</div>
</body>
</html>