{% extends 'base.html' %}

{% block title %}
    Twitter
{% endblock %}
{% block content %}
<form action="{% url 'search:index' %}" class="navbar-form navbar-left" method="get">
    <div class="input-group">
        <input id="search" name="q" type="text" class="form-control" placeholder="Поиск">
        <span class="input-group-btn">
            <button type="submit" class="btn btn-default">{% bootstrap\_icon 'search' %}</button>
        </span>
    </div>
</form>

	<div class="container-fluid text-center bg-dark p-3">
		<a href="{% url 'login' %}" type="button" class="btn btn-outline-primary">Sign In</a>
		<a href="{% url 'signup' %}" type="button" class="btn btn-outline-primary mx-3">Sign Up</a>
	</div>

	<div style="margin-left: 35%;">

	<div class="card bg-dark" style="width: 32rem; padding: 1em; margin-top: 1em; margin-bottom: 1em;">
	  <div class="card-body">
	  	<a href="#" class="fw-bold">User</a>
	    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <img src="https://picsum.photos/300/300" class="rounded-3" alt="photo">
      <div class="row" style="margin-top: 1em;">
      	<a type="button" class="btn btn-success col">Like</a>
      	<a type="button" class="btn btn-danger col" style="margin-left:5px;">Dislike</a>
      	<a type="button" class="btn btn-secondary col" style="margin-left:5px;">Comment</a>
      	<a type="button" class="btn btn-primary col" style="margin-left:5px;">Repost</a>
      </div>
	</div>

	</div>
{% for user in page_obj %}
    {{ user.name|upper }}<br>
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}