<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../static/bootstrap/css/bootstrap.min.css">
	<title>{{ title }}</title>
</head>
<body style="background-color: black; color: white;">

	<div class="card mt-5 bg-dark" style="margin-left: 5%; margin-right: 5%;">
  		<div class="card-body">
  			<div class="row" style="width: 500px">
  				<div class="col">
  					<a href="#" class="btn btn-outline-primary">Home</a><br>
  				</div>
  				<div class="col" style="width: 150px">
  					<img src="https://picsum.photos/150/150" class="rounded-circle">
  				</div>
    			<div class="col">
    				<p class="fw-bold">Login</p>
    				<p class="text-muted">Joined time</p>
    				<a href="#">Following</a>
    				<a href="#">Followers</a>
    				<button type="button" class="btn btn-outline-primary mt-3">Edit</button>
    				<button type="button" class="btn btn-outline-danger mt-3">Log out</button>
    			</div>
    		</div>
  		</div>	
	</div>

	<div style="margin-left: 35%;">
		<p class="fw-bold fs-2">My posts</p>
	<div class="card bg-dark" style="width: 32rem; padding: 1em; margin-top: 1em; margin-bottom: 1em;">
	  <div class="card-body">
	    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <img src="https://picsum.photos/300/300" class="rounded-3" alt="photo">
      <div class="row" style="margin-top: 1em;">
      	<a type="button" class="btn btn-outline-primary">Edit</a>
      	<a type="button" class="btn btn-outline-danger mt-3">Delete</a>
      </div>
	</div>

	</div>
</body>
</html>