<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up </title>
</head>
<body>
    <div style="text-align: center; font-size: 30px; margin-top: 5em;">
<form method="post">
    {% csrf_token %}
    <label>Login</label><br>
    <input type="text" style="line-height: 30px"><br>
    <label>Password</label><br>
    <input type="password" style="line-height: 30px"><br>
    <label>Repeat password</label><br>
    <input type="password" style="line-height: 30px"><br>
    <input type="submit" value="Submit" style="padding: 10px; margin-top: 2em;">
</form>
</div>
</body>
</html>