{% extends 'base.html' %}

{% block title %}
    User followings
{% endblock %}

{% block content %}
    <a type="button" href="{% url 'user_profile' %}" class="btn btn-outline-primary m-3">Return back</a>
	<h1 style="text-align: center;">Following</h1>
	<div class="container bg-dark p-3 rounded mt-5" style="width: 300px;">
		<div class="row">
			<div class="col-md-3">
				<img src="https://picsum.photos/50/50" class="rounded-circle" alt="photo">
			</div>
			<div class="col-md-9">
				<a class="fw-bold" href="{% url 'user_profile' %}">
					user
				</a>
			</div>
		</div>
	</div>
{% endblock %}